bcrypt
blinker
certifi
charset-normalizer
click
coverage
Flask
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy
greenlet
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pillow
pluggy
psycopg2-binary
pyFirmata
PyJWT
pyserial
pytest
python-dotenv
requests
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
validate_email
